@model ProductChainManagement.ViewModels.ClientSearchViewModel

@{
    ViewBag.Title = "ClientList";
}

<h2>ClientList</h2>

@using (Html.BeginForm("Profile", "Home", FormMethod.Post))
{
    <div class="col-md-10">
        Search by name : @Html.EditorFor(model => model.NameSearch, new { htmlAttributes = new { @class = "form-control" } })
        <input type="submit" value="Search" class="btn btn-default" />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Clients[0].Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Clients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Register", new { id = item.Client_Id }) |
                        @Html.ActionLink("View", "ViewClientInfo", new { id = item.Client_Id }) |
                        @Html.ActionLink("Delete", "Register", new { id = item.Client_Id }) |
                        @*@Html.ActionLink("Chain", "ViewClientChain", new { id = item.Client_Id })*@
                        @Html.ActionLink("Chain", "ViewClientChain","Home", new { id = item.Client_Id }, new { target = "_blank" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
