@model ProductChainManagement.ViewModels.ClientRegistrationDisplayViewModel

@{
    ViewBag.Title = "ClientRegisterationDisplay";
}

<h2>ClientRegisterationDisplay</h2>

<div>
    <h4>ClientRegistrationDisplayViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_PinCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_PinCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_Pincode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_Pincode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_AccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_AccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_AccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_IFSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_IFSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membership_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membership_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_Cust_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_Cust_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_code)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
<script>

</script>
